@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}
@import url('../public/fonts/age/age.css');
@import url('../public/fonts/akony/akony.css');
@import url('../public/fonts/raleway/raleway.css');


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideUp {
  from {
      transform: translateY(50px);
  }
  to {
      transform: translateY(0);
  }
}

@import url('css/style.css') screen and (min-width: 640px);
@import url('css/style_640.css') screen and (max-width: 640px)
